-
  const servicesData =[
    'Easy',
    'Customize',
    'Clean',
    'Trendy Design',
    'Update',
    'Business',
    'Premier',
    'Support',
    'Love',
    'Template'
  ]

mixin services(mods)
  -
    const baseName = 'services'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .services(class=allMods)&attributes(attributes)
    +ui-h2('Services We Provide', 'services')
    ul.services__list
      each item in servicesData
        li=item
    block
