// fonts
$font: 'Poppins', 'Arial', sans-serif;

// colors
$black: #3b3738;
$peachLight: #f4ebe4;
$peachGrey: #eadacb;
$peachBrown: #d8c3a4;
$red: #e93a3f;
$redHover: #ee5c61;

// media
$mediaWidthLaptop: 1510px;
$mediaWidthTablet: 767px;
